name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install Node dependencies
        run: npm install
      - name: Build application
        run: npm run tauri build
      - name: Create Release and Upload Assets (MacOS)
        if: matrix.platform == 'macos-latest'
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: false
          files: src-tauri/target/release/bundle/dmg/*.dmg
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      - name: Create Release and Upload Assets (Windows)
        if: matrix.platform == 'windows-latest'
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: false
          files: src-tauri/target/release/bundle/nsis/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
